{% extends 'base.html.twig' %}

{% block title %}Set Neural Network parameters!{% endblock %}



{% block body %}

<div id="container"> <! -- #batchsize, optimizer, penality, epochs -->
    <div id="control-panel">
        <button id="play">Play</button><button id="next">Next</button>
        <div class="input-group">
            <label>Batchsize:</label>
            <select id="rules"></select>
        </div>
        <div class="input-group">
            <label>Optimizer:</label>
            <select id="speed"></select>
        </div>
        <div class="input-group">
            <label>Penality:</label>
            <input id="grid-width" type="text" />
        </div>
        <div class="input-group">
            <label>Epoch:</label>
            <input id="grid-height" type="text" />
        </div>
        <button id="zoom-in">+ Zoom in</button><button id="zoom-out">- Zoom out</button>
        <button id="seed">Seed</button><button id="reset">Reset</button>
    </div>
    <canvas id="canvas"></canvas>
</div>
{% endblock %}

{% block stylesheets %}
     {{ encore_entry_link_tags('setparams') }}
 {% endblock %}

{% block javascripts %}
     {{ encore_entry_script_tags('setparams') }}
{% endblock %}



