body {
    background-color: #000;
    color: #00bcd4;
    font-family: helvetica, arial, verdana, sans-serif;
    font-size: 14px;
    margin: 10px;
}

label {
    width: 60px;
    float: left;
    display: block;
}

select {
    background: transparent;
    border: #00bcd4 solid 1px;
    color: #00bcd4;
    width: 140px;
}

input {
    background: transparent;
    border: #00bcd4 dotted 1px;
    color: #00bcd4;
    width: 132px;
    padding: 2px;
}

button {
    background: #000;
    color: #00bcd4;
    border: #00bcd4 solid 1px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button:active {
    background: #00bcd4;
    color: #000;
}

button:disabled {
    color: #006064;
    border: #006064 solid 1px;
}

hr {
    border: 0;
    border-bottom: #00bcd4 solid 1px;
}

canvas {
    background: #000;
    display: block;
    outline: #00bcd4 solid 1px;
    cursor: crosshair;
    image-rendering: optimizeSpeed;             /* Older versions of FF          */
    image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
    image-rendering: -webkit-optimize-contrast; /* Safari                        */
    image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
    image-rendering: pixelated;                 /* Awesome future-browsers       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
    position: absolute;
    left: 240px;
    top: 10px;
}

#control-panel {
    display: block;
    position: absolute;;
    left: 10px;
    top: 10px;
    width: 200px;
    padding: 10px;
    outline: #00bcd4 solid 1px;
}

.input-group {
    margin-bottom: 10px;
}

#play,
#next,
#zoom-in,
#zoom-out,
#seed,
#reset {
    width: 95px;
}

#play,
#zoom-in,
#seed {
    margin-right: 10px;
}

#seed {
    border-color: #ffc107;
    color: #ffc107;
    margin-top: 20px;
    margin-bottom: 0;
}

#seed:active {
    background: #ffc107;
    color: #000;
}

#reset {
    border-color: #f00;
    color: #f00;
    margin-top: 20px;
    margin-bottom: 0;
}

#reset:active {
    background: #f00;
    color: #000;
}